* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
    background-color: #8b00ff;
}

.container2{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 60vh;
    margin: 0 auto;
}

.container3 {
    background-color: #a648ff;
    width: 60vw;
    height: 60vh;
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    align-content: end;
    justify-content: space-between;
}

.content1, .content2 {
    background-color:#f1dcff;
    height: 12vh;
    width: 27vw;
    margin: 1vw;
}

.content3 {
    background-color: #f1dcff;
    height: 12vh;
    width: 57vw;
    margin: 1vh;
}

.sidebar {
    background-color: #d195ff;
    width: 40vw;
    height: 60vh;
}

.footer {
    background-color: #bd71ff;
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec1, .sec2, .sec3, .sec4 {
    background-color:#f1dcff;
    width: 25vw;
    height: 16vh;
    margin: 1vw;
}


@media only screen and (max-width: 768px) {
    .header {
        width: 100vw;
        background-color: #8b00ff;
        height: 14vh;
    }

    .container2 {
        width: 100vw;
    }

    .container3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: flex-end;
        align-items: center;

        background-color: #a648ff;

        width: 70vw;
    }

    .content1 , .content2 {
        width: 67vw;
    }

    .content3 {
        width: 67vw;
        height: 16vh;
    }

    .sidebar {
        background-color: #d195ff;
        width: 30vw;
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        height: 36vh;
    }
    .sec1 , .sec2 , .sec3 , .sec4 {
        width: 47vw;
        height: 14vh;
        margin: 1vw;
    }

}

@media only screen and (max-width: 375px) {
    .container {
        margin: 0 auto;
        height: 100vh;
    }
    
    .header {
        width: 100vw;
        background-color: #8b00ff;
        height: 10vh;
    }

    .container2 {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;

    }

    .container3 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: flex-end;
        align-items: center;

        background-color: #a648ff;

        width: 100vw;
    }

    .content1 , .content2 {
        width: 90vw;
        height: 4vh;
    }

    .content3 {
        width: 90vw;
        height: 10vh;
    }

    .sidebar {
        background-color: #d195ff;
        width: 100vw;
        height: 30vh;
        /* Либо display: none; , хотелось попрактиковать .container2 { flex-direction: column-reverse; } */
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        height: 70vh;
    }
    .sec1 , .sec2 , .sec3 , .sec4 {
        width: 90vw;
        height: 7h;
        margin: 1vh;
    }
}